{% extends "appbuilder/baselayout.html" %}
{% block content %}
<div class="jumbotron">
  <div class="container">
    <h1>Bienvenido, {{rol}}</h1>
    {% if cursos|length > 0 %}
    <ul>
      {% for cur in cursos%}
        <li>
          <h4>Curso {{cur[1]}}</h4>
          <form action="/curso" method='get'>
            <input type="hidden" name="id" value={{cur[0]}}>
            <input type="submit" value="submit">
          </form>
        </li>
      {% endfor %}
    </ul>
    {% else %}
        <p>Parece que no tiene cursos asociados</p>
    {%endif%}
  </div>
</div>
{% endblock %}