{% extends "appbuilder/baselayout.html" %}
{% block content %}
<div class="jumbotron">
  <a href="/">Back</a>
  <div class="container">
    <h1>Curso {{id}}</h1>
  </div>
  {% if sesiones|length > 0 %}
    <p>{{aviso}}</p>
    <ul>
      {% for cur in sesiones%}
        <li>
          <h4>ID Sesión {{cur[-3]}}</h4>
          <p>Hora inicio: {{cur[0]}}</p>
          <p>Hora Fin: {{cur[1]}}</p>
          <p>Fecha: {{cur[2]}}</p>
          {% if 'Docente' in roles and cur[-2] == 0%}
            <form action="/activate" method='get'>
              <input type="hidden" name="id" value={{cur[-3]}}>
              <input type="hidden" name="id_curso" value={{id}}>
              <input type="submit" value="Activar">
            </form>
            <p>{{aviso}}</p>
          {% endif %}
          {% if 'Estudiante' in roles and cur[-2] == 1%}
            <form action="/asistencia" method='get'>
              <input type="hidden" name="id" value={{cur[-3]}}>
              <input type="hidden" name="id_curso" value={{id}}>
              <input type="text" name="codigo" id="codigo">
              <input type="submit" value="Entrar">
            </form>
          {% endif %}
          {% if cur[-2] == 1 %}
            <p>En curso</p>
            <p>Código {{cur[-1]}}</p>
          {%endif%}
        </li>
      {% endfor %}
    </ul>
    {%else%}
    <p>Parece que no hay sesiones disponibles</p>
    {% endif %}
</div>
{% endblock %}